{% extends 'layout.html' %}

{% block content %}
<style>
	.zeroMargin{
  margin-top: -37px;
}
</style>
<style type="text/css">
    @media only screen {
    	body {background-image: url("/public/images/fondo.jpg");
     	background-repeat: no-repeat;
  		background-position: center center;
  		background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;}
}
</style>
<div class="zeroMargin text-center">
<div id="headerwrap" id="home" name="home">

</div><!-- /headerwrap -->
</div>

{% endblock %}