<div class="modal-dialog" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    		<h4 class="modal-title">{{comuna.nombre}}</h4>
  		</div>
      	<div class="modal-body">
      		<div class="panel panel-default">	
      			<div class="panel-heading">Información</div>	
				<div class="panel-body">
      				<div class="col-md-12">
      					<div class="panel panel-default">
      						<div class="panel-heading"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> <strong>Datos Generales</strong></div>
      						<div class="panel-body">
					        	<ul>
					        	 	<li>
					        		<strong> Latitud: </strong>
					        		<span>{{comuna.point_geom[0]['latitud']}}</span>
					        		</li>
					        		 <li>
					        		<strong> Longitud: </strong>
					        		<span>{{comuna.point_geom[0]['longitud']}}</span>
					        		</li>
					        		 <li>
					        		<strong> Localidad: </strong>
					        		<span>{{comuna.localidad}}</span>
					        		</li>
					        		 <li>
					        		<strong> Departamento: </strong>
					        		<span>{{comuna.departamento}}</span>
					        		</li>
					        		 <li>
					        		<strong> Cant. de Habiatantes: </strong>
					        		<span>{{comuna.poblacion}}</span>
					        		</li>
					        		 <li>
					        		<strong> Encargado: </strong>
					        		<span>{{comuna.encargado}}</span>
					        		</li>
					        	</ul>
					        </div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="panel panel-default">
							<div class="panel-heading"><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> <strong>Equipos de generación instalados</strong></div>
							<div id="tableGeneradores"> </div>
						</div>
					</div>
	      		</div>
	      	</div>
		</div>
    	<div class="modal-footer">
        	<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      	</div>
	</div>
</div>